*.jar
crash-reports/*
downloads/*
saves/*
patchouli_books/*
fancymenu_*/*
minecolonies/*
mods*/*
pmmo-data*/*
resources/*
resourcepacks/*
schematics/*
shaderpacks/*
structurize/*
*.zip
logs/*
screenshots/*
realms_persistence.json
patchouli_data.json
options.txt
usercache.json
minecraftinstance.json
dimensions.txt
knownkeys.txt
servers.dat
usernamecache.json