# Configuration file

Biome {
    # Biome registry name [default: ae2:spatial_storage]
    S:name=ae2:spatial_storage
}


Config {
    # If set to False, parameters from this config will not be used. [default: false]
    B:enabled=false
}


Wind {
    # Defines probability of wind strength and direction change in percentage. [range: 0.0 ~ 100.0, default: 3.0]
    S:changeProbability=3.0

    # Defines how fast the wind changes. [range: 0.0 ~ 1.0, default: 0.25]
    S:changeStep=0.25

    # Defines maximum wind strength. [range: 0 ~ 30, default: 30]
    I:maxStrength=30
}


